<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>教师</h1>
<span th:text="${error!=null? error:'后端错误信息'}"></span>
<br>
<br>
<div th:include="main::nav"></div>
<div style="display: flex; justify-content: space-between">
    <div>
        <table border="1">
            <tr>
                <th>uid</th>
                <th>名称</th>
                <th>手机号</th>
                <th>密码</th>
                <th>班级编号</th>
            </tr>
            <tr th:each="x:${userEntityListTeacher}">
                <td th:text="${x.uid}"></td>
                <td th:text="${x.uname}"></td>
                <td th:text="${x.phone}"></td>
                <td th:text="${x.pwd}"></td>
                <td th:text="${x.clzno}"></td>
                <td><a th:href="'/adm/teacher/remove?uid=' + ${x.uid} + '&uname=' + ${x.phone}">删除</a></td>
                <td><a th:href="'/adm/teacher/go2update?uid=' + ${x.uid} + '&uname=' + ${x.phone}">更改</a></td>
            </tr>
        </table>
    </div>
    <div>
        <a href="/adm/teacher/go2add">添加学生</a>
        <div th:if="${action!=null}">
            <form th:action="'/adm/teacher/'+ ${action}" method="post">
                <label>
                <input type="hidden" name="uid" th:value="${userEntityUpdate != null ? userEntityUpdate.uid : null}"/>
                </label>
                <label>
                    名称：<input type="text" name="uname" th:value="${userEntityUpdate != null ? userEntityUpdate.uname : ''}" required>
                </label><br>
                <label>
                    电话号码：<input type="text" name="phone" th:value="${userEntityUpdate != null ? userEntityUpdate.phone : ''}" required>
                </label><br>
                <label>
                    密码：<input type="text" name="pwd" th:value="${userEntityUpdate != null ? userEntityUpdate.pwd : ''}" required>
                </label><br>
                <label>
                    班级编号：<input type="text" name="clzno" th:value="${userEntityUpdate != null ? userEntityUpdate.clzno : ''}" required>
                </label><br>
                <label>
                    <input th:if="${action=='add'}" type="submit" value="添加">
                    <input th:if="${action=='update'}" type="submit" value="更改">
                </label>
            </form>
        </div>
    </div>
</div>

</body>
</html>