<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.TaskDao">
    <select id="findAll" resultType="com.example.entity.TaskEntity">
        select * from t_task
    </select>
    <select id="findByClzno" resultType="com.example.entity.TaskEntity">
        select * from t_task where clzno = #{clzno}
    </select>
    <select id="findByTid" resultType="com.example.entity.TaskEntity">
        select * from t_task  where tid = #{tid}
    </select>
    <delete id="remove">
        DELETE FROM `mark5`.`t_task` WHERE (`kid` = #{kid});
    </delete>
    <insert id="add" parameterType="com.example.entity.TaskEntity">
        INSERT INTO `mark5`.`t_task` (`tid`, `clzno`, `cno`) VALUES (#{tid}, #{clzno}, #{cno});
    </insert>
</mapper>