<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<h1>课程管理</h1>
<span th:text="${error!=null? error:'后端错误信息'}"></span>
<br>
<br>
<div th:include="main::nav"></div>
<div style="display: flex; justify-content: space-between">
    <div>
        <table border="1">
            <tr>
                <th>课程编号</th>
                <th>课程名称</th>
            </tr>
            <tr th:each="x:${courseEntityList}">
                <td th:text="${x.cno}"></td>
                <td th:text="${x.cname}"></td>
                <td><a th:href="'/adm/course/remove?cno=' + ${x.cno} + '&cname=' + ${x.cname}">删除</a></td>
                <td><a th:href="'/adm/course/go2update?cno=' + ${x.cno} + '&cname=' + ${x.cname}">更改</a></td>
            </tr>
        </table>
    </div>
    <div>
        <a href="/adm/course/go2add">添加课程</a>
        <div th:if="${action!=null}">
            <form th:action="'/adm/course/'+ ${action}" method="post">
                <label>
                    班级编号：<input type="text" name="cno" th:value="${courseEntityUpdate != null ? courseEntityUpdate.cno : ''}" required>
                </label><br>
                <label>
                    班级名称：<input type="text" name="cname" th:value="${courseEntityUpdate != null ? courseEntityUpdate.cname : ''}" required>
                </label><br>
                <label>
                    <input th:if="${action=='add'}" type="submit" value="添加">
                    <input th:if="${action=='update'}" type="submit" value="更改">
                </label>
            </form>
        </div>
    </div>
</div>

</body>
</html>