<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>教师管理</h1>
<span th:text="${error!=null? error:'后端错误信息'}"></span>
<br>
<br>
<div th:include="main::nav"></div>
<div style="display: flex; justify-content: space-between">
    <div>
        <table border="1">
            <tr>
                <th>kid</th>
                <th>tid</th>
                <th>班级编号</th>
                <th>课程编号</th>
            </tr>
            <tr th:each="x:${taskEntityList}">
                <td th:text="${x.kid}"></td>
                <td th:text="${x.tid}"></td>
                <td th:text="${x.clzno}"></td>
                <td th:text="${x.cno}"></td>
                <td><a th:href="'/adm/task/remove?kid=' + ${x.kid} + '&tid  =' + ${x.tid}">删除</a></td>
            </tr>
        </table>
    </div>
    <div>
        <a href="/adm/task/go2add">添加学生</a>
        <div th:if="${action!=null}">
            <form th:action="'/adm/task/'+ ${action}" method="post">
                <label>
                    教师id：<input type="text" name="tid" required>
                </label><br>
                <label>
                    班级编号：<input type="text" name="clzno" required>
                </label><br>
                <label>
                    课程编号：<input type="text" name="cno" required>
                </label><br>
                <label>
                    <input  type="submit" value="添加排课">
                </label>
            </form>
        </div>
    </div>
</div>

</body>
</html>