<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MarkDao">
    <select id="findBySnoCno" resultType="com.example.entity.MarkEntity" parameterType="hashmap">
    select * from t_mark where sno = #{sno} and cno = #{cno}
    </select>
    <select id="findBySno" resultType="com.example.entity.MarkEntity">
        select * from t_mark where sno = #{sno}
    </select>
    <update id="update" parameterType="com.example.entity.MarkEntity">
        UPDATE t_mark
        SET score = #{score}
        WHERE sno = #{sno} AND id > 0
    </update>
    <insert id="add" parameterType="com.example.entity.MarkEntity">
        insert into t_mark
        (sno, cno, score,tpost,tid)
        values
        (#{sno}, #{cno}, #{score},#{tpost},#{tid})
    </insert>
</mapper>